Options +FollowSymlinks
Options -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^/?([^\/]+)(/.*)?$ index.php?section=$1&actions=$2 [B,QSA]